/*
 * ----------------------------------------------------------------------------------------
 * Header styles.
 * ----------------------------------------------------------------------------------------
 */
.container{
	h5{
		color: #fff;
	    margin-left: 245px;
	    margin-top: 145px;
	    font-size: 40px;
	    font-weight: normal;
	}
	p{
		color: #fff;
	    margin-left: 245px;
	    margin-top: 11px;
	    font-size: 20px;
	    line-height: 24px;
	    font-weight: 400;
	}
	a{
		.link{
			margin-left: 287px;
	    color: #fff;
	    text-decoration: none;
	    font-family: 'Fira Sans';
	    font-weight: bold;
	    font-size: 12px;
	    margin-top: -21px;
	    padding-bottom: 150px;

		}
		margin-left: 245px;
	    color: #fff;
	    text-decoration: none;
	    font-family: 'Fira Sans';
	    font-weight: bold;
	    font-size: 12px;
	    .icon{
	    	margin-right: 10px;
	    }
		}
}